<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/dashboard" class="brand-link text-center">
    <span class="brand-text font-weight-bold">
      <img src="assets/images/prospecta_newlogo.png" width="100" />
    </span>
  </a>

  <div class="sidebar">
    <!-- User Panel -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="https://i.pravatar.cc/40" class="img-circle elevation-2" />
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ user?.fullName }}</a>
        <span class="text-white">{{ user?.roleName }}</span>
      </div>
    </div>

    <!-- MENU -->
    <nav>
      <ul class="nav nav-pills nav-sidebar flex-column">
        
        <ng-container *ngFor="let menu of menus">
          <ng-container 
            *ngTemplateOutlet="recursiveMenu; context:{ $implicit: menu }">
          </ng-container>
        </ng-container>

      </ul>
    </nav>
  </div>
</aside>

<!-- ✅ Recursive Template -->
<ng-template #recursiveMenu let-menu>
  <li class="nav-item"
      [ngClass]="{'menu-open': menu.isOpen, 'has-treeview': menu.children?.length}"
  >

    <!-- MENU LINK -->
    <a href="#"
       class="nav-link"
       [class.active]="isActive(menu)"
       (click)="toggleMenu(menu, $event)"
       [routerLink]="getRoute(menu)"
    >
      <i [class]="menu.menu_icon_class_name"></i>

      <p>
        {{ menu.name }}

        <i *ngIf="menu.children?.length"
           class="right fas fa-angle-left">
        </i>
      </p>
    </a>

    <!-- CHILDREN -->
    <ul *ngIf="menu.children?.length"
        class="nav nav-treeview"
        [style.display]="menu.isOpen ? 'block' : 'none'"
    >
      <ng-container *ngFor="let child of menu.children">
        <ng-container 
          *ngTemplateOutlet="recursiveMenu; context:{ $implicit: child }">
        </ng-container>
      </ng-container>
    </ul>

  </li>
</ng-template>